@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #e0e8ff;
  font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1,
article,
p {
  margin: 0;
  padding: 0;
}

#bg-image {
  position: absolute;
  z-index: -1;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 0 20px 50px -30px #3829e0;
  overflow: hidden;
}

.card__img-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__summary {
  width: 90%;
}

.card__summary h1 {
  margin-top: 23px;
  text-align: center;
  font-size: 22px;
  color: #1f2f56;
  font-weight: 900;
}

.card__summary p {
  width: 270px;
  margin-top: 18px;
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  color: #7280a7;
}

.card__plan {
  display: flex;
  align-items: center;
  width: 270px;
  margin-top: 25px;
  padding: 15px;
  border-radius: 15px;
  background-color: #f5f7ff;
}

.card__plan p {
  margin-left: 20px;
  color: #1f2f56;
  font-weight: 700;
  font-size: 15px;
}

.card__plan p span {
  color: #7280a7;
  font-weight: 500;
}

.card__plan a {
  font-size: 14px;
  color: #3829e0;
  font-weight: 700;
}

.card #button-pay {
  width: 270px;
  margin-top: 25px;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 900;
  color: #FFF;
  background-color: #3829e0;
}

.card #button-cancel {
  width: 270px;
  margin: 25px 0;
  border: none;
  color: #7280a7;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
}
